<h3>Nombre: {{data.nombre_p}}</h3>
<ul>
    <li>descripcion: {{data.descripcion_p}}</li>
    <li>stock: {{data.stock_p}}</li>
    <li>precio: {{data.precio_p}}</li>    
</ul>

<img src="./../public/images/malbec.jpg" alt="" width="100px">
